@LOG_DIR@/borhan_batch.log {
    nodateext
    compress
    rotate 40
    create 644
    missingok
    notifempty
    prerotate
        service borhan_batch stop 2>&1 >/dev/null || true
    endscript
    postrotate
        service borhan_batch start 2>&1 >/dev/null || true
    endscript
 su root borhan
}

@LOG_DIR@/batch/*log {
    nodateext
    compress
    notifempty
    rotate 40
    create 644
    missingok
 su root borhan
}

