
@LOG_DIR@/cron.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root borhan
}

@LOG_DIR@/borhan_monit.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 sharedscripts
 postrotate
 service borhan_monit restart
 endscript
 su root borhan
}

@LOG_DIR@/borhan_deploy.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root borhan
}

@LOG_DIR@/borhan_scripts.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root borhan
}
